In [12]:
#create data time features of a dataset

In [13]:
from pandas import read_csv
from pandas import DataFrame

In [14]:
series = read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)

In [15]:
dataframe = DataFrame()

In [16]:
dataframe['month'] = [series.index[i].month for i in range(len(series))]
dataframe['day'] = [series.index[i].day for i in range(len(series))]
dataframe['temperature'] =[series[i] for i in range(len(series))]
print(dataframe.head(5))

   month  day  temperature
0      1    1         20.7
1      1    2         17.9
2      1    3         18.8
3      1    4         14.6
4      1    5         15.8

In [17]:
#create a lag feature
from pandas import read_csv
from pandas import DataFrame
from pandas import concat

series=read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)
temps=DataFrame(series.values)
dataframe=concat([temps.shift(1),temps],axis=1)
dataframe.columns=['t','t+1']
print(dataframe.head(5))

      t   t+1
0   NaN  20.7
1  20.7  17.9
2  17.9  18.8
3  18.8  14.6
4  14.6  15.8

In [18]:
#create lag features
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
series = read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)
temps = DataFrame(series.values)
dataframe = concat([temps.shift(3),temps.shift(2),temps.shift(1),temps],axis=1)
dataframe.columns = ['t-2','t-1','t','t+1']
print(dataframe.head(5))

    t-2   t-1     t   t+1
0   NaN   NaN   NaN  20.7
1   NaN   NaN  20.7  17.9
2   NaN  20.7  17.9  18.8
3  20.7  17.9  18.8  14.6
4  17.9  18.8  14.6  15.8

In [52]:
#create a rolling mean feature
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
series=read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)
temps = DataFrame(series.values)
shifted = temps.shift(1)
window = shifted.rolling(window=2)
means = window.mean()
dataframe = concat([means,temps],axis=1)
dataframe.columns = ['mean(t-1,t)','t+1']
print(dataframe.head(5))

   mean(t-1,t)   t+1
0          NaN  20.7
1          NaN  17.9
2        19.30  18.8
3        18.35  14.6
4        16.70  15.8

In [61]:
#create rolling statistics features
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
series = read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)
temps = DataFrame(series.values)
width = 3
shifted = temps.shift(width-1)
window=shifted.rolling(window=width)
dataframe = concat([window.min(),window.mean(), window.max(),temps],axis=1)
dataframe.columns = ['min','mean','max','t+1']
print(dataframe.head(5))

    min       mean   max   t+1
0   NaN        NaN   NaN  20.7
1   NaN        NaN   NaN  17.9
2   NaN        NaN   NaN  18.8
3   NaN        NaN   NaN  14.6
4  17.9  19.133333  20.7  15.8

In [62]:
#create expanding window features
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
series=read_csv('Datasets/daily-min-temperatures.csv',header=0,index_col=0,parse_dates=True,squeeze=True)
temps=DataFrame(series.values)
window=temps.expanding()
dataframe=concat([window.min(),window.mean(),window.max(),temps.shift(-1)],axis=1)
dataframe.columns=['min','mean','max','t+1']
print(dataframe.head(5))

    min       mean   max   t+1
0  20.7  20.700000  20.7  17.9
1  17.9  19.300000  20.7  18.8
2  17.9  19.133333  20.7  14.6
3  14.6  18.000000  20.7  15.8
4  14.6  17.560000  20.7  15.8

In [72]:
temps

         0
0     20.7
1     17.9
2     18.8
3     14.6
4     15.8
5     15.8
6     15.8
7     17.4
8     21.8
9     20.0
10    16.2
11    13.3
12    16.7
13    21.5
14    25.0
15    20.7
16    20.6
17    24.8
18    17.7
19    15.5
20    18.2
21    12.1
22    14.4
23    16.0
24    16.5
25    18.7
26    19.4
27    17.2
28    15.5
29    15.1
...    ...
3620  13.2
3621  16.2
3622  17.3
3623  20.5
3624  20.2
3625  19.4
3626  15.5
3627  14.1
3628  11.0
3629  11.1
3630  14.0
3631  11.4
3632  12.5
3633  13.4
3634  13.6
3635  13.9
3636  17.2
3637  14.7
3638  15.4
3639  13.1
3640  13.2
3641  13.9
3642  10.0
3643  12.9
3644  14.6
3645  14.0
3646  13.6
3647  13.5
3648  15.7
3649  13.0

[3650 rows x 1 columns]